# Inroducción a Python

 - Hoy veremos algunas funciones (built-in)
 - Carga de datos

In [ ]:
print('hello world') # print es la función para poner algun texto

hello world

In [ ]:
type('hola') # responde a la pregunta, tipo de objeto = "'hola'"

str

Los objetos más importantes que usaremos son:
- int --> enteros
- float --> flotantes (decimales)
- str --> cadenas de caracteres "string"
- list -->
- diccionarios (Nos ayudan a crear bases de datos)
- arrange --> No son built-in

## Python sirve como una calculadora básica

- $+$ --> suma
- $-$ --> resta
- $*$ --> multiplicación
- $**$ --> potencia
- $/$ --> división
- $//$ --> división al piso
- '%' --> residuo de división

In [ ]:
t = (2+5, 2-5, 2*5, 2**5, 2/5, 2//5, 2%5)  # para hacer una tupla
t
print(t) #imprimir la tuplam en este caso la "t"

(7, -3, 10, 32, 0.4, 0, 2)

tuple

In [ ]:
x=2 #valor de variable x
y=5 #valor de variable y

x
print(x,y) #imprimir valores de x y y
print(y) # imprimir valores de y
x  #al poner la variable x antes o despues de print no se imprime el valor x

t = (x+y, x-y, x*y, x**y, x/y, x//y, x%y)
t

2 5
5
2

(7, -3, 10, 32, 0.4, 0, 2)

In [ ]:
type(x) # nos da el tipo de la variable que llamanos x

int

In [ ]:
type(t) # nos da el tipo de la variable llamamos t

tuple

In [ ]:
t[0] # da el er valor de la tupla

7

Elección de elemntos dentro de una tupla

**Python empieza a contar en el cero**

y hay que tomar lo elementos de acuerdo a su índece.

In [ ]:
t[5] # da el valor 5, es el 6o elemento de la tupla

0

In [ ]:
t[7] # marca Error, no existe el elemento no. 8

IndexError: tuple index out of range

In [ ]:
t[4], type(t[4]) # Da el valor del 5to elemento su tipo

(0.4, float)

In [ ]:
len(t) # Da el tamaño de la tupla t

7

In [ ]:
t.count(.4) # Da el No. de veces que se encuentra el valor 1 en la tupla

1

### Listas

Para crear una lista:

In [ ]:
L1 = list(t) # transforma una tupla en lista

L2 = [7, -3, 10, 32, 0.4, 0, 2] # se hace una lista

print(L1, L2) # imprime las listas L1 y L2

[7, -3, 10, 32, 0.4, 0, 2] [7, -3, 10, 32, 0.4, 0, 2]

In [ ]:
L1[2:5] # slices (piezas) de listas

[10, 32, 0.4]

#### La función range()

`Es un generador de índices.`

In [ ]:
range(1,11) # Da un indice

range(1, 11)

Para vsualizar los elementos de un generador se encesitan ciclos

"for"

In [ ]:
for i in range(3,10): # Sirva para imprimir los valores de i en el rango del 3 al 9
  print(i)

3
4
5
6
7
8
9

In [ ]:
L3 = [ i for i in range(11)] # crea una lista (L3) del ciclo for para imprimir los valores de i en el rango del 0 al 10
L3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Condicionales

- if, else, else if (elif)
- while